/* Global Styles */
body {
    width: 100vw;
    background-image: url('../images/homePageImage.jpeg');
    /* background-position: center; */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* height: 100vh; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Header Styles */
header {
    width: 100%;
    text-align: center;
    background-color: rgb(19 18 3);
    padding: 10px;
    color: #a1a92dd4;
}

header h1 {
    font-size: 80px;
    margin: 0;
}

nav ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: #060606;
}

nav ul li {
    display: inline-block;
    /* margin-right: 10px; */
}

.login{
    flex-direction: column;
    display: flex;
    justify-content: center;
    margin-right: 10px;
    text-decoration: none;
    color: white;
    font-size: 30px;
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 30px;
}

/* Hero Section Styles */
.hero-section {
    background-size: cover;
    background-position: center;
    color: #38576e;
    color: #291d05;
    /* padding: 100px; */
    text-align: center;
}

.hero-section h2 {
    font-size: 60px;
    margin: 0;
}

.hero-section p {
    font-size: 2.5rem;
}
a{
    text-decoration: none;
}

.cta-button {
    /* display: inline-block; */
    border: #060606 solid 1.5px;
    border-radius: 20px;
    background-color: #f7af2881;
    height: 7rem;
    width: 15rem;
    color: #fff;
    padding: 10px;
    margin: 6rem;
    border-radius: 4%;
    font-weight: bold;
    text-align: center;
    align-items: center;
}

/* Sections Styles */
section {
    padding: 40px 0;
}

section h2 {
    font-size: 5rem;
    margin-bottom: 20px;
}

section p {
    font-size: 4rem;
    line-height: 1.5;
}

/* Footer Styles */
footer {
    font-size: 1.5rem;
    background-color: #0a0a0ae3;
    color: #c6891a;
    padding: 5px;
    padding-right: 0%;
    text-align: center;
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
}
@media screen and (max-width: 1000px){
    header{
        width: 100%;
    }
    header h1 {
        font-size: 1.5em;
        margin: 0;
    }

    h2{
        font-size: 1.5em;
        margin: 0;
    }

    header nav ul{
        font-size: 8px;
    }

    footer{
        font-size: 10px;
    }
}
